body {
    margin: 0;
    background:;
    font-family: Helvetica;
}

main {
    background: ;
    display: grid;
    grid-template-columns: 300px 200px;
}

.logo {
    width: 300px;
    height: auto;
}

header {
    display: grid;
    grid-template-columns: 300px 200px;
}